<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="no.nb.pizzabakeren"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="21"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="no.bjornadal.pizzabakeren.activity.MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="no.bjornadal.pizzabakeren.activity.SelectPizzaActivity"
            android:label="Velg din pizza"
            android:parentActivityName="no.bjornadal.pizzabakeren.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="no.bjornadal.pizzabakeren.activity.SelectPizzaActivity" />
        </activity>
        <activity
            android:name="no.bjornadal.pizzabakeren.activity.SelectSodaActivity"
            android:label="Velg din brus"
            android:parentActivityName="no.bjornadal.pizzabakeren.activity.SelectPizzaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="no.bjornadal.pizzabakeren.activity.SelectSodaActivity" />
        </activity>
        <activity
            android:name="no.bjornadal.pizzabakeren.activity.ConfirmActivity"
            android:label="Din bestilling"
            android:parentActivityName="no.bjornadal.pizzabakeren.activity.SelectSodaActivity">
            <meta-data
                android:name="andoird.support.PARENT_ACTIVITY"
                android:value="no.nb.pizzabakeren.activity.ConfirmActivity" />
        </activity>

    </application>
</manifest>
